.Card {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	border-radius: 0.4rem;
	background-color: var(--card-white);
	box-shadow: var(--shadow-elevation-high);
	position: relative;
}
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 1rem;
	padding-block: 1.5rem;
	gap: 1rem;
	flex-grow: 1;
}
.card-img {
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}
/* .glass {
	position: absolute;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
}
.card-img {
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
} */