.hero {
	padding-block-start: 25rem;
	padding-block-end: 25rem;
}
.hero h1 {
	font-family: "Space Grotesk", sans-serif;
	font-size: clamp(42px, 13vw, 128px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--strong-yellow);
	text-align: left;
}
.hero h2 {
	font-family: "Space Grotesk", sans-serif;
	text-align: left;
	font-size: clamp(32px, 9.8vw, 96px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--medium-blue);
}
.hero h2::before {
	content: "{";
}
.hero h2::after {
	content: "}";
}


