.navbar {
	justify-content: space-between;
	width: 90%;
	margin-top: 36px;
}
.sliders-icon {
	color: var(--medium-blue);
	width: 25px;
	height: 25px;
}

/* !Switch */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 19px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark-blue);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0 0 2.5px var(--medium-blue);
}
/* The slider 'dot' */
.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2px;
	bottom: 2px;
	background-color: var(--medium-blue);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
/* TODO: Complete these below styles */
/* input:focus + .slider {
	box-shadow: 0 0 0 .5rem var(--lightest-blue);
} */
/* input:hover + .slider {
	box-shadow: 0 0 0 .5rem var(--lightest-blue);
} */
/* The checked slider */
input:checked + .slider {
	box-shadow: 0 0 0 2.5px var(--medium-blue);
	background-color: var(--medium-blue);
}
/* The checked slider 'dot' */
input:checked + .slider:before {
	background-color: var(--dark-blue);
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}
/* Rounded slider */
.slider.round {
	border-radius: 34px;
}
/* Rounded slider 'dot' */
.slider.round:before {
	border-radius: 50%;
}
