@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.skills {
	padding-block-end: 40%;
}

.slider-wrapper {
	width: 80%;
	margin: 0 auto;
}

.skills p {
	max-width: 60ch;
	align-self: center;
}

.slide {
	transform: scale(0);
	transition: transform 300ms;
	opacity: 0;
}

.slick-track {
	display: flex;
	align-items: center;
}

.activeSlide {
	transform: scale(1);
	opacity: 1;
}

.rightEdgeSlide {
	transform: scale(0.3) translateX(-100px);
	opacity: 0.3;
}

.rightEdgeSlide_ {
	transform: scale(0.3) translateX(-100px);
	opacity: 0.3;
}

.leftEdgeSlide {
	transform: scale(0.3) translateX(100px);
	opacity: 0.3;
}

.leftEdgeSlide_ {
	transform: scale(0.3) translateX(100px);
	opacity: 0.3;
}

.rightAdjacentSlide {
	transform: scale(0.6);
	opacity: 0.6;
}

.rightAdjacentSlide_ {
	transform: scale(0.6);
	opacity: 0.6;
}

.leftAdjacentSlide {
	transform: scale(0.6);
	opacity: 0.6;
}

.leftAdjacentSlide_ {
	transform: scale(0.6);
	opacity: 0.6;
}

.arrow {
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

.arrow svg {
	transition: color 300ms;
}

.arrow svg:hover {
	color: #68edff;
}

.next {
	right: 0%;
	top: 50%;
}

.prev {
	left: 0%;
	top: 50%;
}
