.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--dark-blue);
}
.bgImgTop {
	width: 100%;
	position: absolute;
	top: 0;
	transform: rotate(180deg);
	mix-blend-mode: multiply;
}
.hero h1 {
	font-family: arial, sans-serif;
	font-size: clamp(42px, 13vw, 128px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--strong-yellow);
}
.hero h2 {
	font-family: arial, sans-serif;
	font-size: clamp(32px, 9.8vw, 96px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--medium-blue);
}
.hero h2::before {
	content: "{";
}
.hero h2::after {
	content: "}";
}
.hero span {
	display: inline-block;
}
