h1 {
	font-family: arial, sans-serif;
	font-size: clamp(42px, 13vw, 128px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--strong-yellow);
}
h2 {
  font-family: arial, sans-serif;
  font-size: clamp(32px, 9.8vw, 96px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--medium-blue);
}
h2::before {
  content: '{';
}
h2::after {
  content: '}';
}
span {
  display: inline-block;
}

