:root {
	/* Colours */
	--lightest-blue: #bbd5ed;
	--medium-blue: #86b7fc;
	--dark-blue: #183752;
	--off-white: #f6f6f6;
	--strong-yellow: #edd51c;
	--light-yellow: #ffe880;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--lightest-blue);
}
h3 {
	color: var(--medium-blue);
	font-size: 38px;
}
h3 span {
	color: var(--strong-yellow);
	font-weight: 400;
}
.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--dark-blue);
}
.readme {
	text-align: center;
}
.readme p {
	width: 60ch;
}
.skills {
	text-align: center;
}
.skills p {
	width: 60ch;
}
.bgImgTop {
	width: 100%;
	position: absolute;
	top: 0;
	transform: rotate(180deg);
	mix-blend-mode: multiply;
}
.separator {
	width: 78px;
	height: 1px;
	background-color: var(--lightest-blue);
}
.hero h1 {
	font-family: arial, sans-serif;
	font-size: clamp(42px, 13vw, 128px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--strong-yellow);
}
.hero h2 {
	font-family: arial, sans-serif;
	font-size: clamp(32px, 9.8vw, 96px);
	/*! Need to d/l 'bold' weight */
	font-weight: 700;
	color: var(--medium-blue);
}
.hero h2::before {
	content: "{";
}
.hero h2::after {
	content: "}";
}
.hero span {
	display: inline-block;
}
.contact-form input{
	display:block;
	width: 100%;
}
.contact-form select{
	display:block;
	width: 100%;
}
.contact-form textarea{
	display:block;
	width: 100%;
}
.contact-form h3 span {
	color: var(--strong-yellow);
	font-style: italic;
}


/* switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}