/* !Variables / Reset */
:root {
	/* Colours */
	--lightest-blue: #bbd5ed;
	--medium-blue: #86b7fc;
	--dark-blue: #183752;
	--off-white: #f6f6f6;
	--strong-yellow: #edd51c;
	--light-yellow: #ffe880;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* !Utility Classes */
.col {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* TODO: Move this style (gap) into its own utilityclass */
	gap: 44px;
}
.row {
	display: flex;
	align-items: center;
}
.separator {
	width: 78px;
	height: 1px;
	background-color: var(--lightest-blue);
	border-radius: 0.5px;
}

/* !Global Styles */
body {
	font-family: arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--lightest-blue);
}
.main {
	width: 90%;
	gap: 132px;
}
h3 {
	color: var(--medium-blue);
	font-size: 38px;
}
h3 span {
	color: var(--strong-yellow);
	font-weight: 400;
}
img {
	width: 100%;
}
p {
	font-size: 20px;
}